.box1 {
  width=400px;
  height:80px;
  background-color:yellow; 
    }
    
.box2 {
  width:400px;
  height:80px;
  background-color:green;
    }
  
.box3 {
  width:400px;
  height:80px;
  background-color:red;
    }
    
.box11 {
  
.box111 {


  